.login_container {
  font-family: "Noto Sans Myanmar", sans-serif;
}
.login_input {
  width: 400px;
  height: 55px;
  /*padding: 14px, 16px, 14px, 16px*/
  border: 1px;
  border-radius: 12px;
  gap: 10px;
}
.login_submitLG {
  width: 400px;
  height: 55px;
  /*padding: 14px, 10px, 14px, 10px*/
  border-radius: 12px;
  gap: 10px;
  background: linear-gradient(
    90.57deg,
    #628eff 9.91%,
    #8740cd 53.29%,
    #580475 91.56%
  );
}
.login_submitSU {
  width: 400px;
  height: 55px;
  /*padding: 14px, 10px, 14px, 10px*/
  border-radius: 12px;
  gap: 10px;
  background: linear-gradient(
    90.57deg,
    #2e4cee 9.91%,
    #221ebf 53.29%,
    #040f75 91.56%
  );
}
