.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* Adjust the width of the scrollbar */
}

/*.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}*/
