.mainMeetingContainer {
  /* .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: black;
    } */

  .calendar {
    width: 90%;
    border: 1px solid #eee;
    padding: 20px;
    background-color: white;
  }

  .grid {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
    max-height: 400px;
    overflow-y: auto;
  }

  .cell {
    padding: 10px;
    border: 1px solid #eee;
    text-align: center;
    color: white;
  }

  .day {
    background-color: #5c7ae5;
    font-weight: bold;
  }

  .timeSlot {
    background-color: white;
    cursor: pointer;
  }

  .timeSlot.selected {
    background-color: #d27eef;
  }

  .timeLabel {
    font-weight: bold;
    background-color: #5c7ae5;
  }

  .headerRow {
    display: contents;
  }

  .row {
    display: contents;
  }

  .button-prev {
    background-color: #5c7ae5;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-prev:hover {
    background-color: #4a63c9;
  }

  .button-next {
    background-color: #d27eef;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-next:hover {
    background-color: #bb68d8;
  }

  .button-clear {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-clear:hover {
    background-color: #e55959;
  }

  .button-confirm {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-confirm:hover {
    background-color: #45a049;
  }

  .timeSlot:hover {
    background-color: grey;
  }
}