

  .calendar {
    width: 90%;
    height: 100%;
    padding: 20px;
  }

  .upper{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .lower{
    display: flex;
    flex-direction: column;
  }

  .upperright-list{
    margin-left: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
    overflow-y: auto;
    max-height: calc(100vh - 375px);
    grid-gap: 0;
    border: 2px solid lightgray;
  }

  .cell {
    padding: 10px;
    border: 1px solid #eee;
    text-align: center;
    color: white;
  }

  .day {
    background-color: black;
    font-weight: bold;
  }

  .timeSlot {
    background-color: white;
    cursor: pointer;
  }

  .timeSlot.selected {
    background-color: grey;
  }

  .timeLabel {
    font-weight: bold;
    font-size: small;
    background-color: black;
  }

  .headerRow {
    display: contents;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .row {
    display: contents;
  }

  .actions button{
    margin-bottom: 5px;
  }

  .button-prev {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-prev:hover {
    background-color: grey;
  }

  .button-next {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-next:hover {
    background-color: grey;
  }

  .button-page {
    background-color:black;
    color: white;
    border: none;
    padding: 10px 15px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
  }

  .button-page:hover {
    background-color: #1B9AAA;
  }
   .button-delete{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
   }

   .button-delete:hover{
    background-color: #EF476F;
   }

  .button-confirm {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
  }

  .button-confirm:hover {
    background-color: #06D6A0;
  }

  .timeSlot:hover {
    background-color: #A9A9A9;
  }
  .button-back{
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    padding: 10px 15px;
    cursor: pointer;
  }
  .button-back:hover{
    background-color: grey;
  }

  .week-navigation-timeslots {
    display:flex;
    flex-direction: row;
    align-items: center;
  }

  .week-navigation-timeslots button {
    /* Additional styles for the 'Edit Meeting Time Slot' button */
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
