.mainMeetingContainer {
  /* .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: black;
    } */

  .calendar {
    width: 90%;
    border: 1px solid #eee;
    padding: 20px;
    background-color: 	whitesmoke;
  }

  .grid {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
    max-height: 400px;
    overflow-y: auto;
  }

  .cell {
    padding: 10px;
    border: 1px solid #eee;
    text-align: center;
    color: white;
  }

  .day {
    background-color: black;
    font-weight: bold;
  }

  .timeSlot {
    background-color: white;
    cursor: pointer;
  }

  .timeSlot.selected {
    background-color: grey;
  }

  .timeLabel {
    font-weight: bold;
    background-color: black;
  }

  .headerRow {
    display: contents;
  }

  .row {
    display: contents;
  }

  .button-prev {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-prev:hover {
    background-color: grey;
  }

  .button-next {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-next:hover {
    background-color: grey;
  }

  .button-clear {
    background-color:black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
  }

  .button-clear:hover {
    background-color: red;
  }
   .button-delete{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
   }

   .button-delete:hover{
    background-color: red;
   }

  .button-confirm {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
  }

  .button-confirm:hover {
    background-color: #45a049;
  }

  .timeSlot:hover {
    background-color: #A9A9A9;
  }
  .button-back{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  .button-back:hover{
    background-color: grey;
  }

}
