/* adjusting the built-in theme */

/* calendar event */
.calendar_default_event_inner {
    background: #000000;
    color: #fff;
    border-radius: 0px;
    font-size: 10pt;
    padding: 2px;
    opacity: 0.4;
    pointer-events: none;
}

.prev-next {
    margin-right: auto;
    margin-bottom: 10px;
}

.header-right{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.header-right button{
    border: none;
    padding: 10px 20px;
    margin: 5px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: black;
    color: white;
}

.available_slots{
    background-color: #00FF84;
    font-size: 10pt;
    padding: 2px;
    opacity: 0.5;
    pointer-events: none;
}

#nested-list-subheader{
    color: purple;
}

.temp-selection {
    padding: 2px;
    background-color: #FF003C;
    opacity: 0.5;
}

.membersList {
    display: flex;
    flex-direction: row;
}

.main-container {
    height: 100%;
}

.calendar_black_event_inner {
    background: #00E1FF;
    border-color: white;
    border-width: 2px;
    font-size: 10pt;
    margin-right: 10px;
    /*padding: 2px;*/
}
/* adjusting the built-in theme */

.week-navigation .button-prev,
.week-navigation .button-next{
    background-color: lightgrey;
    color: black;
    border: none;
    padding: 10px 20px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.week-navigation {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    align-items: start; /* Align sections to the start */
}

.week-navigation .button-prev:hover,
.week-navigation .button-next:hover,
.week-navigation .button-new-meeting:hover {
    background-color: #333333;
}

.week-navigation button {
    /* Additional styles for the 'Edit Meeting Time Slot' button */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-row {
    display: flex;
    flex-direction: row; /* Align these buttons horizontally */
    gap: 10px; /* Spacing between buttons */
}

.button-placeholder {
    height: 50px; /* Adjust the height to match your button height */
    visibility: hidden; /* Make the placeholder invisible */
}


.week-navigation button:hover {
    background-color: #333333;
}