/* adjusting the built-in theme */

/* calendar event */
.calendar_default_event_inner {
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 0px;
    font-size: 10pt;
    padding: 2px;
    opacity: 0.4;
    pointer-events: none;
}

.temp-selection {
    padding: 2px;
}

.membersList {
    display: flex;
    flex-direction: row;
}

.main-container {
    height: 100%;
}

.calendar_black_event_inner {
    background: rgb(100,0,200);
    color: #fff;
    border: none;
    border-radius: 0px;
    font-size: 10pt;
    /*padding: 2px;*/
    opacity: 0.8;
}
/* adjusting the built-in theme */

.week-navigation .button-prev,
.week-navigation .button-next,
.week-navigation .button-new-meeting {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.week-navigation {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    align-items: start; /* Align sections to the start */
}

.week-navigation .button-prev:hover,
.week-navigation .button-next:hover,
.week-navigation .button-new-meeting:hover {
    background-color: #333333;
}

.week-navigation button {
    /* Additional styles for the 'Edit Meeting Time Slot' button */
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-row {
    display: flex;
    flex-direction: row; /* Align these buttons horizontally */
    gap: 10px; /* Spacing between buttons */
}

.button-placeholder {
    height: 40px; /* Adjust the height to match your button height */
    margin-bottom: 10px; /* Add margin to match the gap if needed */
    visibility: hidden; /* Make the placeholder invisible */
}


.week-navigation button:hover {
    background-color: #333333;
}