html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

/* main content */
#main {
  margin-left: 25px;
  margin-right: 25px;
}

/* Page header */
#teamNameTag {
  padding-right: 10px;
}

/* Taskboard content: */

#taskboardHeader {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 25px;
}

/* Popup window */

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

.popupContent {
  background-color: #dee2e6;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #212529;
  width: 250px;
}

.show {
  display: block;
}

/* Task grid */

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    4,
    minmax(0, 1fr)
  ); /* Ensure even column width */
  /* Set row height to extend down most of the page, unless specified otherwise */
  grid-template-rows: auto minmax(calc(75vh), auto);
  padding: 10px;
  margin-bottom: 20px;
}

.grid-item {
  padding: 20px;
  font-size: 15px;
  border-right: 1px solid #6c757d;
}

#board {
  height: 100%;
}

#tasksHeader {
  grid-column: 1;
  grid-row: 1;
  border-bottom: 1px solid #6c757d;
  height: 20px;
}

#addTaskButton {
  height: 20px;
  float: right;
  cursor: pointer;
}

#tasksColumn {
  grid-column: 1;
  grid-row: 2;
}

#taskList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*
.task {
  display: block;
  background-color: #F8F9FA;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  border-radius: 5px;
}



.addSubTaskButton {
  opacity: 1;
}
*/

.task {
  flex: 1; /* Let the task card grow to fill available space */
  max-width: 100%; /* Ensure the task card doesn't exceed the width of the column */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.task:hover {
  background-color: #e9ecef;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.buttonsContainer {
  display: flex;
}

.button {
  height: 16px;
  width: 16px;
  margin-left: 8px;
  border: none;
  cursor: pointer;
  background: none;
  background-size: cover;
  background-position: center;
  opacity: 0;
}

.task:hover .button {
  opacity: 0.5;
}

.task:hover .button:hover {
  opacity: 1;
}

.newSubtaskButton {
  background-image: url("../../images/add_button_favicon.png");
}

.optionsButton {
  background-image: url("../../images/dots.png");
}

.showSubtaskButton {
  background-image: url("../../images/chevron_favicon.png");
}

/*For rotating the chevron icon*/
.rotate-down {
  transform: rotate(0deg);
  /* No rotation for down-pointing icon */
}

.rotate-left {
  transform: rotate(90deg);
  /* Rotate 90 degrees for left-pointing icon */
}

.taskTitleLabel {
  font-size: 15px;
  color: #212529;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.assigneeLabel {
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #495057;
}

.taskInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.taskInfo span {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #495057;
  line-height: 1;
}

.dueDateLabel {
  float: right;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: text-bottom;
  opacity: 0.5;
}

.subtaskList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.subtask {
  padding: 8px;
  font-size: 13px;
  overflow: hidden;
  max-lines: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*Other columns*/

#todoHeader {
  grid-column: 2;
  grid-row: 1;
  border-bottom: 1px solid #6c757d;
  height: 20px;
}

#todoColumn {
  grid-column: 2;
  grid-row: 2;
}

#doingHeader {
  grid-column: 3;
  grid-row: 1;
  border-bottom: 1px solid #6c757d;
  height: 20px;
}

#doingColumn {
  grid-column: 3;
  grid-row: 2;
}

#doneHeader {
  grid-column: 4;
  grid-row: 1;
  border-right: 0;
  border-bottom: 1px solid #6c757d;
  height: 20px;
}

#doneColumn {
  grid-column: 4;
  grid-row: 2;
  border-right: 0;
}

.settingsIcon {
  width: 20px;
  height: 20px;
}
